html
{height: 100%;}

body
{background:#fffff7;}

div
	{width:55%;
	margin:auto;}

nav
	{
		width:55%;
	margin:auto;
	}
	

hr
{	border:none;
	border-top:1px solid #bbb;}
	
ul
{
	list-style-type: none;
	
}

p{
	font-family: "Cardo", serif;
	padding:10px;
	font-size:18px;
	}

.gore{
		margin-top:-10px;
}

.naslov{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding:15px;
}
.podnaslov{
	font-family: 'Lato', sans-serif;
	padding:10px;
	font-weight:300;
}


	
.nav_bar{
	display:flex;
	list-style:none;
	font-family: 'Lato', sans-serif;
	font-size:17px;
	}
	
 li a {
  display: block;
  padding: 15px 20px;
  margin-top:-10px;
  text-decoration:none;
  color:#550A21;
}